.page-header-part {
  background-color: rgb(110, 105, 234);
  border-radius: 0px;
  margin: 0px;
  .detail-page-header-label {
    text-transform: unset;
    color: #fff;
  }
  .detail-page-actionbar {
    display: none;
  }
}
