<div>
  <button class="btn btn-default error-report-btn btn-sm" (click)="reportBug()"><i class="fa fa-ticket"
      aria-hidden="true"></i> <span>Log JIRA Ticket</span></button>
  <div class="error-report-overlay" *ngIf="imageUrl"></div>
  <div class="error-img-output row" *ngIf="imageUrl">
    <div class="head col-12">
      <h4>Create JIRA Ticket</h4>
      <i class="fa fa-times"></i>
    </div>
    <div class="body col-12">
      <img [src]="imageUrl" class="img-output" [ngClass]="{'minimize-image': showForm}" (load)="imgLoadHandler()" />

      <div class="more-details" [ngClass]="{'maximize-form': showForm}">
        <h5>5W2H</h5>
        <form>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>What?</label>
                <input type="text" class="form-control form-control-sm" name="what" [(ngModel)]="what">
              </div>
              <div class="form-group">
                <label>Where?</label>
                <input type="text" class="form-control form-control-sm" name="where" [(ngModel)]="where">
              </div>
              <div class="form-group">
                <label>Who?</label>
                <input type="text" class="form-control form-control-sm" name="who" [(ngModel)]="who">
              </div>
              <div class="form-group">
                <label>How Much?</label>
                <input type="text" class="form-control form-control-sm" name="howMuch" [(ngModel)]="howMuch">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Why?</label>
                <input type="text" class="form-control form-control-sm" name="why" [(ngModel)]="why">
              </div>
              <div class="form-group">
                <label>When?</label>
                <input type="text" class="form-control form-control-sm" name="when" [(ngModel)]="when">
              </div>
              <div class="form-group">
                <label>How?</label>
                <input type="text" class="form-control form-control-sm" name="how" [(ngModel)]="how">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label>Summary</label>
                <textarea id="" cols="30" rows="5" class="form-control form-control-sm" name="description"
                  [(ngModel)]="description"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer  col-12">
      <div class="btn-group pull-left">
        <button class="btn btn-success btn-sm" (click)="showForm = !showForm">
          <span *ngIf="!showForm">Show Form</span>
          <span *ngIf="showForm">Hide Form</span>
        </button>
      </div>
      <div class="btn-group pull-right">
        <button class="btn btn-secondary btn-sm">Cancel</button>
        <button class="btn btn-primary btn-sm" (click)="reportIssueInJira()">Create Ticket</button>
      </div>
    </div>
  </div>

</div>