<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>WebApplication</display-name>
	<welcome-file-list>
		 <welcome-file>index.html</welcome-file> 
	</welcome-file-list>
	<context-param>
		<param-name>config_bucket</param-name>
		<param-value>YOUR_CONFIG_BUCKET_NAME</param-value>
	</context-param>
	<context-param>
		<param-name>YOUR_PROJECT_ID_db_auth_file_json</param-name>
		<param-value>YOUR_DB_AUTH_FILE_JSON_NAME</param-value>
	</context-param>
	<context-param>
		<param-name>YOUR_PROJECT_ID_files_auth_file_json</param-name>
		<param-value>YOUR_STORAGE_AUTH_FILE_JSON_NAME</param-value>
	</context-param>
	<listener>
		<listener-class>com.coronago.listener.ApplicationListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.eva.base.listener.EvaRequestListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>Rest Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.eva.jersey.webservice;com.coronago.misc.webservice;com.coronago.config.webservice;</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.jackson.JacksonFeature;org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.response.setStatusOverSendError</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Rest Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<display-name>Tasks Security Constraints</display-name>
		<web-resource-collection>
			<web-resource-name>task</web-resource-name>
			<url-pattern>/rest/tasks/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Eva Security Constraints For Manifest File</display-name>
		<web-resource-collection>
			<web-resource-name>manifest</web-resource-name>
			<url-pattern>/manifest.json</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Eva Security Constraints For Manifest File</display-name>
		<web-resource-collection>
			<web-resource-name>webmanifest</web-resource-name>
			<url-pattern>/manifest.webmanifest</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Security Constraints</display-name>
		<web-resource-collection>
			<web-resource-name>all</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
</web-app>
