<div class="heat-map">
    <div #map style="width:100%;height:calc(100vh - 250px);"></div>
</div>
<!-- <div class="row">
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item"><span class="lab">Total Population</span><span class="val">200,000</span></li>
            <li class="list-group-item"><span class="lab">App Users</span><span class="val">15,000</span></li>
            <li class="list-group-item"><span class="lab">High Risk Groups</span><span class="val">8,000</span></li>
            <li class="list-group-item"><span class="lab">Medium Risk Groups</span><span class="val">2,000</span></li>
        </ul>
    </div>
</div> -->