.date-range-outer{
  .form-control{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 13px;
    height: 30px;
  }
  .input-group-append {
    button {
      border: 1px solid #ced4da;
      height: 30px;
      border-radius: 0px;
      &[disabled]{
        background-color: #e9ecef;
      }
    }
  }
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
.date-range-wrapper{
  display: block;
  z-index: 1;
  position: absolute;
  background: #fff;
}
